.topnav {
  background-color: #3f51b5;
  min-height: 55px;
  .my-flex-box {
    justify-content: space-between;
  }
  .links {
    color: black;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 17px;
    &:hover {
      text-decoration: underline;
      color: white;
    }
  }
  .my-dropdown-toggle::after {
    content: none;
  }
  .dropdown-menu {
    min-width: 310px;
    left: -259px;
    .cart-image {
      width: 50px;
      height: 50px;
      display: inline-block;
    }
    .product-actions {
      display: inline-block;
      border: 1px solid #3f51b5;
      cursor: pointer;
      min-width: 30px;
      text-align: center;
      padding: 5px;
      margin: 5px;
    }
  }
}
